* {
    font-family: Garamond, "Brush Script MT", sans-serif;
    background-color: rgb(250, 245, 240);
}

h1 {
    background-color: rgb(245, 235, 225);
    text-align: center;
    font-size: 48px;
}

h2 {
    background-color: rgb(245, 235, 225);
    font-size: 24px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 50%;
    height: auto;
}

p,
a,
div {
    font-size: 20px;
    font-weight: 500;
}

.intro {
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
    
}

.options-box {
    padding: 20px;
    width: 500px;
    margin: 0 auto;

}

.link {
    background-color: rgb(245, 235, 225);
    display: block;
    margin: 20px 150px;
    text-align: center;
    padding: 15px;
}